*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text_center{
    text-align: center !important;
}
button{
    font-size: 1.1rem;
    padding: 3px;
    color:#b91450;
    margin-bottom: 15px;
}

h2{
    text-align: center;
    color: white;
}
.container{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form{
    align-self: center;
    background-color: #b91450;
    width: 100%;
    max-width: 1180px;
    padding: 20px 0px;

}
.input,
.output{
    width: 85%; 
    margin: 0 auto;
    border-radius: 0.7rem;
    background-color: white;
}
.testo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0px;
}
.box label{
    display: block;
    color: #b91450;
}
.box input,
#età{
    height: 1.7rem;
    border: 1px solid #b91450;
    border-radius: 0.3rem;
    margin: 10px 0;
}
input:focus-visible{
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}
div.box:nth-child(2) { /*box centrale*/
    margin: 0% 7%;
}

.output {
    padding:15px;
}
.output h3{
    text-transform: uppercase;
}
.display{
    display: flex;
}

.pippo{
    background-color: gray;
    height: 150px;
    width: 20%;
}
.tabella{
    background-color: white;
    width: 80%;
}
.tabella table{
    height: 150px;
    width: 100%;
    text-align: left;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0px 15px;
}

/*-------------------- zona cantiere/debug/esperimenti ----------------- */
.debug .form{
    /* min-height: 500px; */
}

.debug .output{
    /* min-height: 300px; */
}

.debug .box{
    /* background-color: lightblue; */
    /* height: 150px; */
    /* width: calc(100% / 3 - 20px); */
}