*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    color: white;
}
.container{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form{
    align-self: center;
    background-color: #b91450;
    width: 100%;
    max-width: 1180px;
    padding: 20px 0px;

}
.input,
.output{
    width: 85%; 
    margin: 0 auto;
    border-radius: 0.7rem;
}


/*-------------------- zona cantiere/debug/esperimenti ----------------- */
.debug .form{
    /* min-height: 500px; */
}

.debug .input,
.debug .output{
    min-height: 300px;
    background-color: white;
}